/* .carousel-box {
  margin: auto !important;
  margin-top: 3% !important;
} */
.carousel-box {
  width: 100% !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* .carousel .slide {
    background: #fff !important;
    color: black;
    height: 100%;
  } */
.carousel-box .carousel .slide img {
  width: 100% !important;
  height: 80vh;
  /* border-radius: 10px; */
  margin-bottom: 10px;
}

.carousel-box .carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.carousel-box .carousel .control-dots .dot {
  box-shadow: none !important;
  background: #4d4643 !important;
  outline: 0;
  width: 15px;
  height: 15px;
}

.carousel-box .carousel .carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-box {
    outline: 0;
    width: 93% !important;
    margin: 20px auto auto auto !important;
  }

  .carousel-box .carousel.carousel-slider .control-arrow {
    display: none !important;
  }

  .carousel-box .carousel .slide img {
    border-radius: 50%;
    margin-bottom: 20px;
  }
}
