header {
  z-index: 9;
  width: 100%;
  min-width: 4em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border-bottoms-left-radius: 15px;
    border-bottom-right-radius: 15px; */
}

/* .waves-logo-box {
  background: linear-gradient(-45deg, rgb(0, 234, 255), rgb(0, 13, 255));
  background-size: 400% 400%;
} */
.waves-logo-name {
  font-size: 100%;
  background: linear-gradient(
    to right,
    rgb(0, 247, 255),
    rgb(1, 86, 197),
    rgb(0, 4, 78)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% auto;
  text-align: center;

  /* background: linear-gradient(to right, #fff 20%, #ff0 40%, #ff0 60%, #fff 80%); */
  background-size: 200% auto;

  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: scrollwaves 3s ease infinite;
}

@keyframes scrollwaves {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* rotating animation  */

#loading {
  animation: rotation 2s infinite linear;
  -webkit-animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-359deg);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-359deg);
  }
}
